{% extends "base.html" %}

{% block content %}

<h1>🏡 Cozy Room</h1>

<p>
Ласкаво просимо на сайт, присвячений затишному домашньому декору.
Тут ви знайдете ідеї для оформлення кімнати та елементи, які допоможуть створити теплу атмосферу.
</p>
<img src="{{ url_for('static', filename='images/room.jpg') }}" width="500">
<h2>Що можна знайти на сайті?</h2>

<ul>
    <li>🌿 Кімнатні рослини</li>
    <li>🕯 Ароматичні свічки</li>
    <li>✨ Гірлянди</li>
    <li>🪵 Дерев'яний декор</li>
</ul>

{% endblock %}